## VIM ##
*.sw[op]

## RopeProject ##
.ropeproject/

## Python Cache ##
*.py[cod]
__pycache__/

## Application ##
/name_server/django/static/

.env

.DS_Store
/dist

# Virtual env
/venv

# Local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

client/upload_folder
storage_server/save_folder

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

